
<table>
{{#each elements as element }}
<tr>
	<th>{{element.name}}</th>
	<td>{{element.value}}</td>
</tr>
{{/each}}
</table>

<p><button on:click="createAnother()">Generate another</button></p>

<script>

import {generate} from 'ryuutama-town-generator';

const town = generate();

console.log(town);

export default {
	data() {
		return {
			town: generate(),
		}
	},
	computed: {
		elements: town => Array.from(town.values())
	},
	methods: {
		createAnother: function() {
			this.set({
				town: generate(),
			});
		}
	}
}

</script>